<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980632436532-vfctd56j8tqiad7hq97eov5a94kv470t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980632436532-vfctd56j8tqiad7hq97eov5a94kv470t</string>
	<key>API_KEY</key>
	<string>AIzaSyAVV8jbXTtx7-xTYkuYFHmW2HUBUQ5hW9E</string>
	<key>GCM_SENDER_ID</key>
	<string>980632436532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxFirebase</string>
	<key>PROJECT_ID</key>
	<string>getxfirebase-34c80</string>
	<key>STORAGE_BUCKET</key>
	<string>getxfirebase-34c80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980632436532:ios:0e5a38332063bebc00af61</string>
</dict>
</plist>